#chart-controls{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;
}

#input-container{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#plus-container{
    display: flex;
    flex-flow: row;
    flex-wrap: no-wrap;
    height: 100%;
    width: 10%;
    margin: 0 0.5%;
}

#plusInput{
    width: 50%;
    height: 100%;
}
#plusButton{
    background: rgb(34, 175, 34); /* Green */
    width: 50%;
    height: 100%;
    padding: 0;
}

#minus-container{
    display: flex;
    flex-flow: row;
    flex-wrap: no-wrap;
    height: 100%;
    width: 10%;
    margin: 0 0.5%;
}

#minusInput{
    width: 50%;
    height: 100%;
}
#minusButton{
    background: rgb(220, 20, 60); /* Red */
    width: 50%;
    height: 100%;
    padding: 0;
}

/* Remove the up/down arrows from the number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input {
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    border: 0.1px solid #555555;
}

.width-5 {
    max-width: 5%;
}

button {
    background: rgb(255, 165, 0); /* Orange */
    border: none;
    color: white;
    width: 20%;
    height: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

#submitData {
    margin: 1%;
}

#addPostit {
    margin: 1%;
}

button:hover{
    background: rgb(255, 140, 0); /* Dark Orange */
}

#plusButton:hover{
    background: rgb(34, 130, 34);
}

#minusButton:hover {
    background: rgb(175, 20, 60);
}