.chart-controls{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.input-container{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5%;
}

.plus-minus-container{
  display: flex;
  flex-flow: row;
  flex-wrap: no-wrap;
  height: 100%;
  width: 10%;
  margin: 0 1%;
}

/* TODO: Increase size to fit two digit numbers */
.plus-minus-input{
  width: 50%;
  height: 100%;
}

.plus-minus-button{
  width: 50%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.plusButton{
  background: rgb(34, 175, 34); /* Green */
}

.plusButton:hover{
  background: rgb(34, 130, 34);
}

.minusButton{
  background: rgb(220, 20, 60); /* Red */
}

.minusButton:hover {
  background: rgb(175, 20, 60);
}

/* Remove the up/down arrows from the number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input {
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  border: 0.1px solid .555555;
}