.post-it-controls {
  width: 100%;
  height: 15%;

  position: relative;

  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.trashcan-container {
  width: 20%;
  height: 55%;

  position: relative;

  display: flex;
  align-self: center;
  justify-content: center;
}

#trashcan-container img {
  pointer-events: none;
}

.trashcan-container-drag-enter {
  border: 3px dashed red;
}

.trashcan-image {
  object-fit: contain;
  max-height: 100%;
  z-index: -99;
}