.post-it-controls {
  width: 100%;
  height: 15%;

  position: relative;

  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.post-it-controls * {
/*  pointer-events: none;*/
}

.trashcan-container {
  width: 20%;
  height: 55%;

  position: relative;

  display: flex;
  align-self: center;
  justify-content: center;
}

.trashcan-image {
  object-fit: contain;
  max-height: 100%;
}